
@{
    ViewBag.Title = "CreateUser";
}
<a href="../UserTask/LogIn">Log In</a>
<a href="../UserTask/UserPage">User Page</a>
<h2>CreateUser</h2>

<form action="../UserTask/SaveNewUser" method="post">
    <input type="email" name="Email" placeholder="Email" required />
    <input type="password" name="Password" placeholder="Password" required />
    <input type="submit" class="btn-success" value="Add User" />
</form>

<h3>@ViewBag.ErrorMessage</h3>
