
@{
    ViewBag.Title = "TaskForm";
}
<a href="../UserTask/UserPage">User Page</a>
<a href="../UserTask/TaskList">View your tasks</a>
<a href="../UserTask/Logout">Logout</a>
<h2>TaskForm</h2>

<h2>Add new task</h2>

<form action="../UserTask/AddTask" method="post">
    <input type="text" name="Description" placeholder="Description" />
    <input type="date" name="DueDate" placeholder="YYYY-MM-DD" />
    <input type="hidden" name="Status" value="False" />

    <input type="submit" value="Add new Task!" class="btn-success" />
</form>

<p class="danger">@ViewBag.ErrorMessage</p>

@*@{
        ViewBag.Title = "SaveNewTask";
    }

    <h2>SaveNewTask</h2>

    <form action="../UserTask/SaveNewTask" method="post">
        Username:  <input type="text" name="UserName" required />
        Description:  <input type="text" name="Description" required /><br />
        Due Date:  <input type="date" name="DueDate" required /><br />
        Status: <select name="Status">
                <option value="Incomplete">Incomplete</option>
                <option value="Complete">Complete</option>
                </select><br />
                <input type="submit" value="Add Task" />
    </form>*@
